<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('partials/meta') %>
  <title><%= title %></title>
  <%- include('partials/link') %>
</head>
<body>
  <%- include('partials/header') %>
  <h1>コンテンツ</h1>
  <%- include('partials/footer') %>
</body>
</html>